.draw-image-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.ibb.co/0Cykw1g/new.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  animation: drawImage 5s linear forwards;
}

@keyframes drawImageAnimation {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}